	{{> header}}
	<!-- ck title wrapper -->
	<div class="ck_title_main_wrapper float_left">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
					<div class="ck_title_cont float_left">
						<p>Admin</p>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
					<div class="ck_title_cont float_left">
						<ul>
							<li><a href="#">Admin &nbsp; ></a>
							</li>
							<li>Dashboard</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ck title wrapper End -->
	
	
	<!-- btc Shop Wrapper Start -->
	<div class="btc_shop_indx_main_wrapper">
		<div class="container-fluid">
			<div class="row">
				{{> adminSidebar}}
				<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
					<div class="ck_prod_filter_main_box_wrapper">
						<div class="row">

							<div class="col-lg-4 col-md-4 col-sm-12 col-12">
								<div class="gc_shop_indx_select_box_wrapper">
									<div class="gc_causes_select_box">
										<h4>Dashboard</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="tab-content">
								<div id="menu1" class="tab-pane active">
									<div class="row">
										<div class="col-lg-4 col-md-6 col-sm-6 col-12">
											<div class="ck_elem_slide_img_wrapper ck_elem_slide_img_wrapper_inner float_left">
												
												<div class="ck_elem_slide_img_cont ck_elem_slide_img_cont_inner float_left">
													<h3>Total Products</h3>
													
													<h5>10</h5>
													
												</div>
											</div>
										</div>
										<div class="col-lg-4 col-md-6 col-sm-6 col-12">
											<div class="ck_elem_slide_img_wrapper ck_elem_slide_img_wrapper_inner float_left">
												
												<div class="ck_elem_slide_img_cont ck_elem_slide_img_cont_inner float_left">
													<h3>Total Posts</h3>
													
													<h5>10</h5>
													
												</div>
											</div>
										</div>
										<div class="col-lg-4 col-md-6 col-sm-6 col-12">
											<div class="ck_elem_slide_img_wrapper ck_elem_slide_img_wrapper_inner float_left">
												
												<div class="ck_elem_slide_img_cont ck_elem_slide_img_cont_inner float_left">
													<h3>Gallery</h3>
													
													<h5>10</h5>
													
												</div>
											</div>
										</div>
										
									</div>
								</div>
							
							</div>
						</div>
					</div>
				</div>
			
			</div>
		</div>
	</div>
	<!-- btc Shop Wrapper End -->
	
	{{> footer}}