{{> header}}
<!-- ck title wrapper -->
<div class="ck_title_main_wrapper float_left">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="ck_title_cont float_left">
                    <p>Admin</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="ck_title_cont float_left">
                    <ul>
                        <li><a href="#">Admin &nbsp; ></a>
                        </li>
                        <li>Gallery</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ck title wrapper End -->


<!-- btc Shop Wrapper Start -->
<div class="btc_shop_indx_main_wrapper">
    <div class="container">
        <div class="row">
           {{> adminSidebar}}
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="ck_prod_filter_main_box_wrapper">
                    <div class="row">

                        <div class="col-lg-2 col-md-4 col-sm-3">
                            <div class="gc_shop_indx_select_box_wrapper">
                                <div class="gc_causes_select_box">
                                    <h4>Product Gallery</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8 col-sm-9">
                            {{#if response}}
                                <div class="alert alert-primary alert-wth-icon alert-dismissible fade show" role="alert">
                                    <span class="alert-icon-wrap"><i class="fa fa-info"></i></span>{{response}}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {{/if}}
                            <div id="accordion">

                                <button class="btn btn-success float-right mb-5" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Add Picture
                                </button>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <!--Product Details-->
                                        <div class="checkout-form">
                                            <div class="row clearfix">
                                                <!--Column-->
                                                <div class="column col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div
                                                        class="btc_shop_single_prod_right_section related_pdt_shop_head checkout_heading">
                                                        <h1>Picture Details </h1>
                                                    </div>
                                                    <div class="row clearfix">
                                                        <form action="/admin_gallery" enctype="multipart/form-data" method="POST">                                                     
                                                            <!--Form Group-->
                                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                                <div class="field-label">Picture Title <sup>*</sup>
                                                                </div>
                                                                <input type="text" required="true" name="title" value=""  placeholder="">
                                                                   
                                                            </div>

                                                            <!--Form Group-->
                                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                                <div class="field-label">Brief Description</div>
                                                                <textarea name="description" required="true"></textarea>
                                                            </div>
                                                            <!--Form Group-->
                                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                                <div class="field-label">Description Image</div>
                                                                <input type="file" name="picture" value=""  placeholder="" required="true">
                                                                   
                                                            </div>
                                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                                <button class="btn btn-success float-right"> Add
                                                                    to Gallery</button>

                                                            </div>
                                                        </form>

                                                    </div>
                                                </div>



                                            </div>
                                        </div>
                                        <!--End Product Details-->
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="column col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Picture</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each pictures}}
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>{{title}}</td>
                                        <td>{{picture_description}}</td>
                                        <td><img src="uploads/{{picture}}" alt="" width="50" height="50" ></td>
                                        	
                                    </tr>
                                {{/each}}
                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- btc Shop Wrapper End -->

{{> footer}}