{{> header}}
<!-- ck title wrapper -->
<div class="ck_title_main_wrapper float_left">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="ck_title_cont float_left">
                    <p>Admin</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="ck_title_cont float_left">
                    <ul>
                        <li><a href="#">Admin &nbsp; ></a>
                        </li>
                        <li>Gallery</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ck title wrapper End -->


<!-- btc Shop Wrapper Start -->
<div class="btc_shop_indx_main_wrapper">
    <div class="container">
        <div class="row">
           {{> admin_sidebar}}
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="ck_prod_filter_main_box_wrapper">
                    <div class="row">

                        <div class="col-lg-2 col-md-4 col-sm-3">
                            <div class="gc_shop_indx_select_box_wrapper">
                                <div class="gc_causes_select_box">
                                    <h4>Gallery</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8 col-sm-9">
                            <div id="accordion">

                                <button class="btn btn-success float-right mb-5" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Add Picture
                                </button>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <!--Product Details-->
                                        <div class="checkout-form">
                                            <div class="row clearfix">
                                                <!--Column-->
                                                <div class="column col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div
                                                        class="btc_shop_single_prod_right_section related_pdt_shop_head checkout_heading">
                                                        <h1>Picture Details </h1>
                                                    </div>
                                                    <div class="row clearfix">
                                                        <!--Form Group-->
                                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                            <div class="field-label">Picture Title <sup>*</sup>
                                                            </div>
                                                            <input type="text" name="field-name" value=""
                                                                placeholder="">
                                                        </div>

                                                        <!--Form Group-->
                                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                            <div class="field-label">Brief Description</div>
                                                            <textarea></textarea>
                                                        </div>
                                                        <!--Form Group-->
                                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                            <div class="field-label">Description Image</div>
                                                            <input type="file" name="field-name" value=""
                                                                placeholder="">
                                                        </div>
                                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                            <button class="btn btn-success float-right"> Add
                                                                to Gallery</button>

                                                        </div>

                                                    </div>
                                                </div>



                                            </div>
                                        </div>
                                        <!--End Product Details-->
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="column col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- btc Shop Wrapper End -->

{{> footer}}