{{> header}}
<!-- ck title wrapper -->
<div class="ck_title_main_wrapper float_left">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="ck_title_cont float_left">
                    <p>Admin</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="ck_title_cont float_left">
                    <ul>
                        <li><a href="#">Admin &nbsp; ></a>
                        </li>
                        <li>Users</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ck title wrapper End -->


<!-- btc Shop Wrapper Start -->
<div class="btc_shop_indx_main_wrapper">
    <div class="container-fluid">
        <div class="row">
            {{> adminSidebar}}
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="ck_prod_filter_main_box_wrapper">
                    <div class="row">

                        <div class="col-lg-2 col-md-4 col-sm-3">
                            <div class="gc_shop_indx_select_box_wrapper">
                                <div class="gc_causes_select_box">
                                    <h4>Users</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8 col-sm-9">
                            {{#if response}}
                                <div class="alert alert-primary alert-wth-icon alert-dismissible fade show" role="alert">
                                    <span class="alert-icon-wrap"><i class="fa fa-info"></i></span>{{response}}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {{/if}}
                            

                                <a class="btn btn-success float-right mb-5" href="/admin/createUser">
                                    Add User
                                </a>

                               
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="column col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Firstname</th>
                                    <th scope="col">Lastname</th>
                                    <th scope="col">Email</th>
                                </tr>
                            </thead>
                            <tbody>
                              
                                {{#each users}}
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>{{first_name}}</td>
                                        <td>{{last_name}}</td>
                                        <td>{{email}}</td>
                                        	
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- btc Shop Wrapper End -->

{{> footer}}