<div class="col-xl-2 col-lg-2 col-md-12">

	<div id="accordion">
		<div class="card">
			<div class="card-header" id="headingOne">
				<h5 class="mb-0">
					<a class="btn btn-link" href="/admin/dashboard">
						Dashboard
					</a>
				</h5>
			</div>

		</div>
		<div class="card">
			<div class="card-header" id="headingTwo">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
						aria-expanded="false" aria-controls="collapseTwo">
						Products
					</button>
				</h5>
			</div>
			<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				<div class="card-body py-0">
					<div class="cc_pc_accordion">

						<div class="box" style="display:grid;">

							<p class="cc_pc_color1 d-inline-flex">
								<input type="checkbox" id="c32" name="cb">
								<label for="c31"><a href="/admin/products">All Products</a></label>
							</p>
							<p class="cc_pc_color1 d-inline-flex">
								<input type="checkbox" id="c32" name="cb">
								<label for="c31"><a href="/admin/createProduct">Add Products</a></label>
						

						</div>

					</div>

				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingThree">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
						aria-expanded="false" aria-controls="collapseThree">
						Blog Posts
					</button>
				</h5>
			</div>
			<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				<div class="card-body py-0">
					<div class="cc_pc_accordion">

						<div class="box" style="display:grid;">

							<p class="cc_pc_color1 d-inline-flex">
								<input type="checkbox" id="c32" name="cb">
								<label for="c31"><a href="/admin/blogPosts">All Blog Posts</a></label>
							</p>
							<p class="cc_pc_color1 d-inline-flex">
								<input type="checkbox" id="c32" name="cb">
								<label for="c31"><a href="/admin/createBlogPost">Create Post</a></label>
						

						</div>

					</div>

				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingFour">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
						aria-expanded="false" aria-controls="collapseFour">
						Gallery
					</button>
				</h5>
			</div>
			<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
				<div class="card-body py-0">
					<div class="cc_pc_accordion">

						<div class="box" style="display:grid;">

							<p class="cc_pc_color1 d-inline-flex">
								<input type="checkbox" id="c32" name="cb">
								<label for="c31"><a href="/admin/products">View Gallery</a></label>
							</p>
							<p class="cc_pc_color1 d-inline-flex">
								<input type="checkbox" id="c32" name="cb">
								<label for="c31"><a href="/admin/blogPosts">Upload Pictures</a></label>
						

						</div>

					</div>

				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingFive">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
						aria-expanded="false" aria-controls="collapseFive">
						Users
					</button>
				</h5>
			</div>
			<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
				<div class="card-body py-0">
					<div class="cc_pc_accordion">

						<div class="box" style="display:grid;">

							<p class="cc_pc_color1 d-inline-flex">
								<input type="checkbox" id="c32" name="cb">
								<label for="c31"><a href="/admin/products">Manage Users</a></label>
							</p>
							<p class="cc_pc_color1 d-inline-flex">
								<input type="checkbox" id="c32" name="cb">
								<label for="c31"><a href="/admin/blogPosts">Create User</a></label>
						

						</div>

					</div>

				</div>
			</div>
		</div>
			<div class="card">
			<div class="card-header" id="headingSix">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
						aria-expanded="false" aria-controls="collapseSix">
						Contacts
					</button>
				</h5>
			</div>
			<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
				<div class="card-body py-0">
					<div class="cc_pc_accordion">

						<div class="box" style="display:grid;">

							<p class="cc_pc_color1 d-inline-flex">
								<input type="checkbox" id="c32" name="cb">
								<label for="c31"><a href="/admin/products">View Contact Requests </a></label>
							</p>
							
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>


</div>