<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 d-none d-sm-none d-md-none d-lg-block d-xl-block">

	<div class="cc_pc_first_accordion_wrapper cc_pc_second_accordion_wrapper">
		<div class="cc_pc_accordion">
			<ul id="accordion2" class="accordion">
				<li class="default open">
					<div class="link cc_product_heading">Menu<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="">
						<li>
							<div class="content">
								<div class="box" style="display:grid;">

									<p class="cc_pc_color1 d-inline-flex">
										<input type="checkbox" id="c32" name="cb">
										<label for="c31"><a href="/admin/products">Products</a></label>
									</p>
									<p class="cc_pc_color1 d-inline-flex">
										<input type="checkbox" id="c32" name="cb">
										<label for="c31"><a href="/admin/blogPosts">Blog Posts</a></label>
									</p>
									<p class="cc_pc_color1 d-inline-flex">
										<input type="checkbox" id="c32" name="cb">
										<label for="c31"><a href="/admin/gallery">Gallery</a></label>
									</p>
									<p class="cc_pc_color1 d-inline-flex">
										<input type="checkbox" id="c32" name="cb">
										<label for="c31"><a href="/admin/users">Users</a></label>
									</p>
									<p class="cc_pc_color1 d-inline-flex">
										<input type="checkbox" id="c32" name="cb">
										<label for="c31"><a href="/admin/contact">Contact Us Form</a></label>
									</p>


								</div>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>


</div>