<div class="footer_wrapper float_left">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12 col-sm-12">
                <div class="footer_widget footer_about_wrapper float_left">
                    <div class="wrapper_first_image">
                        <a href="index.html">
                            <img src="../../images/logo.png" class="img-responsive" alt="logo" />
                        </a>
                    </div>
                    <div class="abotus_content">
                        
							We are focused on giving you the best quality greek youghuts,
							prepared traditional with the best ingredients beneficial to your health.

							
							
                    </div> <a href="/about" class="blog_read">read more <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
            
            <div class="col-lg-6 col-md-4 col-12 col-sm-12">
                <form action="/customer_contact" method="POST">
                    <div class="footer_widget footer_useful_wrapper footer_widget2 float_left">
                        <h4>get in touch</h4>
                        <div class="contect_form_footer float_left">
                            <input type="text" name="name" placeholder="joahn doe"><i class="fas fa-user-alt"></i>
                        </div>
                        <div class="contect_form_footer float_left">
                            <input type="text" name="email" placeholder="Email ID"><i class="fas fa-comment"></i>
                        </div>
                        <div class="contect_form_footer float_left">
                            <textarea name="message" rows="4" placeholder="Your Message..."></textarea>
                        </div>
                        <div class="footer_btn float_left"> <input type="submit" value="Submit Message" class="btn btn-flat btn-danger"/>
                        </div>
                       
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-md-4 col-12 col-sm-12">
                <div class="footer_widget footer_contact_wrapper footer_widget2 float_left">
                    <h4>contact info </h4>
                    <ul>
                        <li> <span>
                                Office: </span>
                            <p><a href="#">12 Sky Perfect Avenue Spibat Owerri Imo State,Nigeria</a>
                            </p>
                        </li>
                        <li> <span>phone: </span>
                            <p>070 324 622 20</p>
                        </li>
                        <li> <span>email: </span>
                            <p><a href="#"> hello@heyogo.com</a>
                                
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ck footer wrapper Start -->
<div class="ck_footer_main_wrapper float_left">
    <div class="container-fluid">
        <div class="ck_footer_left_section">
            <p>&copy;Copyright Hoyogo 2020</p>
        </div>
        <div class="ck_footer_right_section">
            <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li><a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li><a href="#"><i class="fab fa-pinterest-p"></i></a>
                </li>
                <li><a href="#"><i class="fab fa-google-plus-g"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- ck footer wrapper End -->
	<!-- custom js-->
	<script>
		$(function() {
			var Accordion = function(el, multiple) {
				this.el = el || {};
				this.multiple = multiple || false;
		
				// Variables privadas
				var links = this.el.find('.link');
				// Evento
				links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
			}
		
			Accordion.prototype.dropdown = function(e) {
				var $el = e.data.el;
					$this = $(this),
					$next = $this.next();
		
				$next.slideToggle();
				$this.parent().toggleClass('open');
		
				if (!e.data.multiple) {
					$el.find('.submenu').not($next).slideUp().parent().removeClass('open');
				};
			}	
		
			var accordion = new Accordion($('#accordion2, #accordion3, #accordion4, #accordion5, #accordion6, #accordion7, #accordion8, #accordion9, #accordion10, #accordion11, #accordion12, #accordion13'), false);
		});
	</script>