<div class="ck_testi_inner_main_wrapper float_left">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="ck_inner_heading_wrapper float_left">
						<h4>CHECK OUT OUR CLIENT’S</h4>
						<h3>Testimonial Words</h3>
					</div>
				</div>
				<div class="col-md-12">
					<div class="ck_testi_slider_wrapper ck_testi_inner_slider_wrapper float_left">
						<div class="owl-carousel owl-theme">
							<div class="item">
								<div class="ck_testi_slider_main_box_wrapper float_left">
									<div class="ck_testi_slide_img_wrapper">
										<img src="images/testi_img.jpg" alt="img">
									</div>
									<div class="ck_testi_slide_img_cont_wrapper ck_testi_slide_img_cont_inner_wrapper">
										<h4>Victoria Porter <span>[ Customer ]</span></h4>
										<p>In collaboration with public partners, lBusiness connects local businesses and job-seeking residents withresources. Our range of programs offers every service from talent recruiting and career development to clinical case mancollaboration</p>
										<img src="images/testi_sig2.png" alt="img">
										<div class="ck_testi_title_line">
											<img src="images/quote2.png" alt="img">
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="ck_testi_slider_main_box_wrapper float_left">
									<div class="ck_testi_slide_img_wrapper">
										<img src="images/testi_img2.jpg" alt="img">
									</div>
									<div class="ck_testi_slide_img_cont_wrapper ck_testi_slide_img_cont_inner_wrapper">
										<h4>Victoria Porter <span>[ Customer ]</span></h4>
										<p>In collaboration with public partners, lBusiness connects local businesses and job-seeking residents withresources. Our range of programs offers every service from talent recruiting and career development to clinical case mancollaboration</p>
										<img src="images/testi_sig2.png" alt="img">
										<div class="ck_testi_title_line">
											<img src="images/quote2.png" alt="img">
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="ck_testi_slider_main_box_wrapper float_left">
									<div class="ck_testi_slide_img_wrapper">
										<img src="images/testi_img3.jpg" alt="img">
									</div>
									<div class="ck_testi_slide_img_cont_wrapper ck_testi_slide_img_cont_inner_wrapper">
										<h4>Victoria Porter <span>[ Customer ]</span></h4>
										<p>In collaboration with public partners, lBusiness connects local businesses and job-seeking residents withresources. Our range of programs offers every service from talent recruiting and career development to clinical case mancollaboration</p>
										<img src="images/testi_sig2.png" alt="img">
										<div class="ck_testi_title_line">
											<img src="images/quote2.png" alt="img">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>