    {{> header}}
	<!-- ck title wrapper -->
	<div class="ck_title_main_wrapper float_left">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
					<div class="ck_title_cont float_left">
						<p>About Us</p>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
					<div class="ck_title_cont float_left">
						<ul>
							<li><a href="#">Home &nbsp; ></a>
							</li>
							<li>About Us</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ck title wrapper End -->
	<!-- ck about inner section Start -->
	<div class="ck_about_inner_section_main_wrapper float_left">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
					<div class="ck_about_inner_img_cont_wrapper float_left">
						<div class="ck_heading_inner_wrapper">
							<h4>Our  About us</h4>
							<h3>Little About Me</h3>
						</div>
						<p>We are focused on giving you what is trending and needful for your online presence and so we focus on building powerful tools, features and plugins that are actually need for your business.
							<br>
							<br>These will make you enjoy all the benefits of installing a powerful theme with functional codes through an easy to build WordPress tool kit.</p>
						<div class="ck_about_new_pera_box float_left">	<i class="far fa-check-square"></i>
							<p>We are focused on giving you what is trending and needful for your online presence and so we focus on building</p>
						</div>
						<div class="ck_about_new_pera_box float_left">	<i class="far fa-check-square"></i>
							<p>We are focused on giving you what is trending and needful for your online presence and so we focus on building</p>
						</div>
						<div class="ck_red_btn float_left">	<a href="#">Read More</a>
						</div>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 align-self-center">
					<div class="ck_about_inner_img float_left">
						<img src="images/abt_in_img2.png" alt="img">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ck about inner section End -->
	<!-- counter wrapper start-->
	<div class="counter_section float_left">
		<div class="counter_overlay"></div>
		<div class="counter-section">
			<div class="container">
				<div class="row">
					<div class="counter_width">
						<div class="counter_cntnt_box">
							<div class="tb_icon">
								<div class="icon"><i class="fas fa-star"></i>
									<div class="btc_step_overlay"></div>
								</div>
							</div>
							<div class="count-description"><span class="timer">2846</span>
								<h5 class="con1"> <a href="#"> happy customers </a></h5>
							</div>
						</div>
					</div>
					<div class="counter_width">
						<div class="counter_cntnt_box">
							<div class="tb_icon">
								<div class="icon"><i class="fas fa-user"></i>
									<div class="btc_step_overlay"></div>
								</div>
							</div>
							<div class="count-description"> <span class="timer">425</span>
								<h5 class="con2"> <a href="#"> successfull projects  </a></h5>
							</div>
						</div>
					</div>
					<div class="counter_width counter_width2">
						<div class="counter_cntnt_box">
							<div class="tb_icon">
								<div class="icon"><i class="fas fa-trophy"></i>
									<div class="btc_step_overlay"></div>
								</div>
							</div>
							<div class="count-description"> <span class="timer">7660</span>
								<h5 class="con2"> <a href="#"> blog posts </a></h5>
							</div>
						</div>
					</div>
					<div class="counter_width counter_width2">
						<div class="counter_cntnt_box">
							<div class="tb_icon">
								<div class="icon"><i class="fas fa-mug-hot"></i>
									<div class="btc_step_overlay"></div>
								</div>
							</div>
							<div class="count-description"> <span class="timer">2347</span>
								<h5 class="con4"> <a href="#"> web pages </a></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- counter wrapper end-->
	<!-- gallry wrapper Start-->
	<div class="ck_gallery_main_wrapper ck_gallery_inner_main_wrapper float_left">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="ck_inner_heading_wrapper float_left">
						<h4>our gallery</h4>
						<h3>Ice Cream Gallery</h3>
					</div>
					<div class="ck_gallery_slider_wrapper float_left">
						<div class="owl-carousel owl-theme">
							<div class="item">
								<div class="ck_gallery_box_main_wrapper float_left">
									<img src="images/g1.jpg" alt="img">
									<div class="overlay"></div>
									<div class="ck_gallery_cont_wrapper float_left ">
										<h3>Cherry Vanilla</h3>
										<a href="#"><i class="flaticon-right-arrow"></i></a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="ck_gallery_box_main_wrapper float_left">
									<img src="images/g2.jpg" alt="img">
									<div class="overlay"></div>
									<div class="ck_gallery_cont_wrapper float_left">
										<h3>Cherry Vanilla</h3>
										<a href="#"><i class="flaticon-right-arrow"></i></a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="ck_gallery_box_main_wrapper float_left">
									<img src="images/g3.jpg" alt="img">
									<div class="overlay"></div>
									<div class="ck_gallery_cont_wrapper float_left">
										<h3>Cherry Vanilla</h3>
										<a href="#"><i class="flaticon-right-arrow"></i></a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="ck_gallery_box_main_wrapper float_left">
									<img src="images/g1.jpg" alt="img">
									<div class="overlay"></div>
									<div class="ck_gallery_cont_wrapper float_left">
										<h3>Cherry Vanilla</h3>
										<a href="#"><i class="flaticon-right-arrow"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="ck_red_btn ck_gallery_red_btn float_left">	<a href="#">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ck gallery wrapper End -->
	<!-- team wrapper Start-->
	<div class="ck_team_inner_main_wrapper float_left">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="ck_inner_heading_wrapper float_left">
						<h4>Best Team</h4>
						<h3>Ice Cream Makers</h3>
					</div>
				</div>
				<div class="col-md-12">
					<div class="ck_team_slider_wrapper ck_team_inner_slider_wrapper float_left">
						<div class="owl-carousel owl-theme">
							<div class="item">
								<div class="ck_team_img_wrapper float_left">
									<img src="images/t1.png" alt="img">
									<div class="ck_team_img_cont_wrapper ck_team_inner_img_cont_wrapper float_left">
										<h3><a href="#">John Smith</a></h3>
										<p>Maker</p>
										<ul>
											<li><a href="#"><i class="fab fa-facebook-f"></i></a>
											</li>
											<li><a href="#"><i class="fab fa-twitter"></i></a>
											</li>
											<li><a href="#"><i class="fab fa-pinterest-p"></i></a>
											</li>
											<li><a href="#"><i class="fab fa-google-plus-g"></i></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="ck_team_img_wrapper float_left">
									<img src="images/t2.png" alt="img">
									<div class="ck_team_img_cont_wrapper ck_team_inner_img_cont_wrapper float_left">
										<h3><a href="#">John Smith</a></h3>
										<p>Maker</p>
										<ul>
											<li><a href="#"><i class="fab fa-facebook-f"></i></a>
											</li>
											<li><a href="#"><i class="fab fa-twitter"></i></a>
											</li>
											<li><a href="#"><i class="fab fa-pinterest-p"></i></a>
											</li>
											<li><a href="#"><i class="fab fa-google-plus-g"></i></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="ck_team_img_wrapper float_left">
									<img src="images/t3.png" alt="img">
									<div class="ck_team_img_cont_wrapper ck_team_inner_img_cont_wrapper float_left">
										<h3><a href="#">John Smith</a></h3>
										<p>Maker</p>
										<ul>
											<li><a href="#"><i class="fab fa-facebook-f"></i></a>
											</li>
											<li><a href="#"><i class="fab fa-twitter"></i></a>
											</li>
											<li><a href="#"><i class="fab fa-pinterest-p"></i></a>
											</li>
											<li><a href="#"><i class="fab fa-google-plus-g"></i></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="ck_red_btn ck_gallery_red_btn float_left">	<a href="#">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- client wrapper Start-->
	<div class="ck_testi_inner_main_wrapper float_left">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="ck_inner_heading_wrapper float_left">
						<h4>CHECK OUT OUR CLIENT’S</h4>
						<h3>Testimonial Words</h3>
					</div>
				</div>
				<div class="col-md-12">
					<div class="ck_testi_slider_wrapper ck_testi_inner_slider_wrapper float_left">
						<div class="owl-carousel owl-theme">
							<div class="item">
								<div class="ck_testi_slider_main_box_wrapper float_left">
									<div class="ck_testi_slide_img_wrapper">
										<img src="images/testi_img.jpg" alt="img">
									</div>
									<div class="ck_testi_slide_img_cont_wrapper ck_testi_slide_img_cont_inner_wrapper">
										<h4>Victoria Porter <span>[ Director ]</span></h4>
										<p>In collaboration with public partners, lBusiness connects local businesses and job-seeking residents withresources. Our range of programs offers every service from talent recruiting and career development to clinical case mancollaboration</p>
										<img src="images/testi_sig2.png" alt="img">
										<div class="ck_testi_title_line">
											<img src="images/quote2.png" alt="img">
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="ck_testi_slider_main_box_wrapper float_left">
									<div class="ck_testi_slide_img_wrapper">
										<img src="images/testi_img2.jpg" alt="img">
									</div>
									<div class="ck_testi_slide_img_cont_wrapper ck_testi_slide_img_cont_inner_wrapper">
										<h4>Victoria Porter <span>[ Director ]</span></h4>
										<p>In collaboration with public partners, lBusiness connects local businesses and job-seeking residents withresources. Our range of programs offers every service from talent recruiting and career development to clinical case mancollaboration</p>
										<img src="images/testi_sig2.png" alt="img">
										<div class="ck_testi_title_line">
											<img src="images/quote2.png" alt="img">
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="ck_testi_slider_main_box_wrapper float_left">
									<div class="ck_testi_slide_img_wrapper">
										<img src="images/testi_img3.jpg" alt="img">
									</div>
									<div class="ck_testi_slide_img_cont_wrapper ck_testi_slide_img_cont_inner_wrapper">
										<h4>Victoria Porter <span>[ Director ]</span></h4>
										<p>In collaboration with public partners, lBusiness connects local businesses and job-seeking residents withresources. Our range of programs offers every service from talent recruiting and career development to clinical case mancollaboration</p>
										<img src="images/testi_sig2.png" alt="img">
										<div class="ck_testi_title_line">
											<img src="images/quote2.png" alt="img">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- client wrapper End-->
	<!-- cll wrapper Start-->
	<div class="ck_call_main_wrapper float_left">
		<div class="container">
			<div class="ck_cll_left_wrapper">
				<div class="ck_cll_icon align-self-center">	<i class="flaticon-phone-contact"></i>
					<h4>Call Us</h4>
					<p>+91 907 474 4316</p>
				</div>
				<div class="ck_cll_img">
					<img src="images/cll_img.png" alt="img">
				</div>
			</div>
			<div class="ck_cll_right_wrapper">
				<div class="cl_cll_form">
					<input type="text" placeholder="Your Email">
					<button>Subscribe</button>
				</div>
			</div>
		</div>
	</div>
	<!-- cll wrapper End-->
	<!-- partner wrapper Start-->
	<div class="ck_partner_inner_main_wrapper float_left">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="ck_inner_heading_wrapper float_left">
						<h4>Our Partners</h4>
						<h3>Partners Words</h3>
					</div>
				</div>
				<div class="col-md-12">
					<div class="lr_prt_slider_wrapper">
						<div class="owl-carousel owl-theme">
							<div class="item">
								<div class="lr_prt_img_wrapper">
									<img src="images/p1.jpg" alt="partner_img">
								</div>
							</div>
							<div class="item">
								<div class="lr_prt_img_wrapper">
									<img src="images/p2.jpg" alt="partner_img">
								</div>
							</div>
							<div class="item">
								<div class="lr_prt_img_wrapper">
									<img src="images/p3.jpg" alt="partner_img">
								</div>
							</div>
							<div class="item">
								<div class="lr_prt_img_wrapper">
									<img src="images/p4.jpg" alt="partner_img">
								</div>
							</div>
							<div class="item">
								<div class="lr_prt_img_wrapper">
									<img src="images/p5.jpg" alt="partner_img">
								</div>
							</div>
							<div class="item">
								<div class="lr_prt_img_wrapper">
									<img src="images/p6.jpg" alt="partner_img">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- partner wrapper End-->
	
	<!-- ck footer wrapper Start -->
	{{> footer}}
	<!-- ck footer wrapper End -->