    {{> header}}
	<!-- ck title wrapper -->
	<div class="ck_title_main_wrapper float_left">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
					<div class="ck_title_cont float_left">
						<p>About Us</p>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
					<div class="ck_title_cont float_left">
						<ul>
							<li><a href="/">Home &nbsp; ></a>
							</li>
							<li>About Us</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ck title wrapper End -->
	<!-- ck about inner section Start -->
	<div class="ck_about_inner_section_main_wrapper float_left">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
					<div class="ck_about_inner_img_cont_wrapper float_left">
						<div class="ck_heading_inner_wrapper">
							<h4>Our  About us</h4>
							<h3>Little About Me</h3>
						</div>
						<p>We are focused on giving you what is trending and needful for your online presence and so we focus on building powerful tools, features and plugins that are actually need for your business.
							<br>
							<br>These will make you enjoy all the benefits of installing a powerful theme with functional codes through an easy to build WordPress tool kit.</p>
						<div class="ck_about_new_pera_box float_left">	<i class="far fa-check-square"></i>
							<p>We are focused on giving you what is trending and needful for your online presence and so we focus on building</p>
						</div>
						<div class="ck_about_new_pera_box float_left">	<i class="far fa-check-square"></i>
							<p>We are focused on giving you what is trending and needful for your online presence and so we focus on building</p>
						</div>
						{{!-- <div class="ck_red_btn float_left">	<a href="#">Read More</a>
						</div> --}}
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 align-self-center">
					<div class="ck_about_inner_img float_left">
						<img src="images/GreekYoghurt.jpg" alt="img">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ck about inner section End -->
	<!-- counter wrapper start-->
	<div class="counter_section float_left">
		<div class="counter_overlay"></div>
		<div class="counter-section">
			<div class="container">
				<div class="row">
					<div class="counter_width">
						<div class="counter_cntnt_box">
							<div class="tb_icon">
								<div class="icon"><i class="fas fa-star"></i>
									<div class="btc_step_overlay"></div>
								</div>
							</div>
							<div class="count-description"><span class="timer">2846</span>
								<h5 class="con1"> <a href="#"> happy customers </a></h5>
							</div>
						</div>
					</div>
					<div class="counter_width">
						<div class="counter_cntnt_box">
							<div class="tb_icon">
								<div class="icon"><i class="fas fa-user"></i>
									<div class="btc_step_overlay"></div>
								</div>
							</div>
							<div class="count-description"> <span class="timer">425</span>
								<h5 class="con2"> <a href="#"> successfull projects  </a></h5>
							</div>
						</div>
					</div>
					<div class="counter_width counter_width2">
						<div class="counter_cntnt_box">
							<div class="tb_icon">
								<div class="icon"><i class="fas fa-trophy"></i>
									<div class="btc_step_overlay"></div>
								</div>
							</div>
							<div class="count-description"> <span class="timer">7660</span>
								<h5 class="con2"> <a href="#"> blog posts </a></h5>
							</div>
						</div>
					</div>
					<div class="counter_width counter_width2">
						<div class="counter_cntnt_box">
							<div class="tb_icon">
								<div class="icon"><i class="fas fa-mug-hot"></i>
									<div class="btc_step_overlay"></div>
								</div>
							</div>
							<div class="count-description"> <span class="timer">2347</span>
								<h5 class="con4"> <a href="#"> web pages </a></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- counter wrapper end-->	
	<!-- testimonial wrapper Start-->
	{{> testimonial}}
	<!-- testimonial wrapper End-->
	<!-- subscribe wrapper Start-->
	{{> subscribe}}
	<!-- cll wrapper End-->
	<!-- partner wrapper Start-->
	{{> partners}}
	<!-- partner wrapper End-->
	
	<!-- ck footer wrapper Start -->
	{{> footer}}
	<!-- ck footer wrapper End -->