{{> header}}
	<!-- ck title wrapper -->
	<div class="ck_title_main_wrapper float_left">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
					<div class="ck_title_cont float_left">
						<p>Blog-Single</p>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
					<div class="ck_title_cont float_left">
						<ul>
							<li><a href="#">Home &nbsp; ></a>
							</li>
							<li>Blog-Single</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ck title wrapper End -->
	<!-- x blog main and sidebar Wrapper Start -->
	<div class="x_blog_sidebar_main_wrapper float_left padding_tb_100">
		<div class="container">
			<div class="row">
				<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
					<div class="x_blog_left_side_wrapper float_left">
						<div class="row">
							<div class="col-md-12">
								<div class="lr_bc_first_box_main_wrapper">
									<div class="lr_bc_first_box_img_wrapper">
										<img src="images/bl1.jpg" alt="blog_img">
									</div>
									<div class="lr_bc_first_box_img_cont_wrapper">
										<h2>WANNA PLAY?</h2>
										<ul>
											<li><i class="far fa-calendar-alt"></i>&nbsp; <a href="#">September 19, 2017</a>
											</li>
											<li><i class="fas fa-user-alt"></i>&nbsp; <a href="#">by Admin</a>
											</li>
											<li><i class="far fa-comments"></i>&nbsp; <a href="#">04 comments</a>
											</li>
										</ul>
										<p>What's your favorite game? Nam a diam tincidunt, condimentum nisi et, fringilla lectus. Nullam nec lectus eu erat temus pulvinar. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud citation ullamco laboris nisi ut aliquip ex ea commodo consequat.
											<br>
											<br>What's your favorite game? Nam a diam tincidunt, condimentum nisi et, fringilla lectus. Nullam nec lectus eu erat temus pulvinar. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud citation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
									</div>
									<div class="gc_blog_index_slider_post_wrapper gc_blog_single_index_slider_post_wrapper">
										<div class="gc_blog_letest_week_wrapper">
											<div class="gc_blog_quote_wrapper">
												<img src="images/quote22.png" alt="quote" />
												<h3>" The Education of Tomorrow, Rooted in Tradition Invite You
Learning Management System"</h3>
												<p>- by Jhon Doe</p>
											</div>
										</div>
										<p>What's your favorite game? Nam a diam tincidunt, condimentum nisi et, fringilla lectus. Nullam nec lectus eu erat tempus pulvinar. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud citation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
									</div>
									<div class="blog_single_social_icon float_left">
										<h3>Share Post :</h3>
										<ul>
											<li><a href="#"><i class="fab fa-facebook-f"></i></a>
											</li>
											<li><a href="#"><i class="fab fa-twitter"></i></a>
											</li>
											<li><a href="#"><i class="fab fa-pinterest-p"></i></a>
											</li>
											<li><a href="#"><i class="fab fa-google-plus-g"></i></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="blog_single_admin_sec_wrapper">
									<div class="blog_single_admin_sec">
										<div class="admin_img_wrapper">
											<img src="images/admin_img.jpg" alt="admin_img" class="img-responsive" />
										</div>
										<div class="admin_cont_wrapper">
											<h3>About Admin : Jhon Doe <a href="#">MORE</a></h3>
											<p>Porttitor fringilla vestibulum. Phasellus curs our tinnt nulla, ut ttis augue finibus ac Vivamus elementum enim ac enim ces rhoncus.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-12">
										<div class="blog_single_comment_wrapper">
											<div class="blog_single_comment_heading_wrapper">
												<div class="blog_single_comment_heading">
													<h4>Comments (04)</h4>
												</div>
											</div>
											<div class="blog_comment1_wrapper">
												<div class="blog_comment1_img">
													<img src="images/comment_img1.jpg" alt="comment_img" class="img-responsive img-circle" />
												</div>
												<div class="blog_comment1_cont">
													<h3>Jhon Doe <i class="fa fa-circle"></i> <span>July 1, 2016 - <a href="#">Reply</a></span></h3>
													<p>Integer porttitor fringilla vestibulum. Phasellus curs our tinnt nulla, ut mattis augue finibus ac. Vivamus elementum enim ac enim ultrices rhoncus.</p>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="comment_cont2_border">
												<div class="col-xl-11 offset-xl-1 col-lg-12 col-md-12 col-sm-12 col-12">
													<div class="blog_single_comment_wrapper">
														<div class="blog_comment2_wrapper">
															<div class="blog_comment1_img">
																<img src="images/comment_img2.jpg" alt="comment_img" class="img-responsive img-circle" />
															</div>
															<div class="blog_comment1_cont">
																<h3>Jhon Doe <i class="fa fa-circle"></i> <span>July 1, 2016 - <a href="#">Reply</a></span></h3>
																<p>Integer porttitor fringilla vestibulum. Phasellus curs our tinnt nulla, ut mattis augue finibus ac. Vivamus elementum enim ac enim ultrices rhoncus.</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="blog_single_comment_wrapper">
											<div class="blog_comment3_wrapper">
												<div class="blog_comment1_img">
													<img src="images/comment_img3.jpg" alt="comment_img" class="img-responsive img-circle" />
												</div>
												<div class="blog_comment1_cont">
													<h3>Jhon Doe <i class="fa fa-circle"></i> <span>July 1, 2016 - <a href="#">Reply</a></span></h3>
													<p>Integer porttitor fringilla vestibulum. Phasellus curs our tinnt nulla, ut mattis augue finibus ac. Vivamus elementum enim ac enim ultrices rhoncus.</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="blog_single_comment_wrapper">
											<div class="blog_comment3_wrapper">
												<div class="blog_comment1_img">
													<img src="images/comment_img4.jpg" alt="comment_img" class="img-responsive img-circle" />
												</div>
												<div class="blog_comment1_cont">
													<h3>Jhon Doe <i class="fa fa-circle"></i> <span>July 1, 2016 - <a href="#">Reply</a></span></h3>
													<p>Integer porttitor fringilla vestibulum. Phasellus curs our tinnt nulla, ut mattis augue finibus ac. Vivamus elementum enim ac enim ultrices rhoncus.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-12">
										<div class="contect_heading_wrapper">
											<div class="gc_blog_single_form_heading">
												<h4>Leave A Comments</h4>
											</div>
										</div>
									</div>
									<div class="col-lg-12">
										<form>
											<div class="row">
												<div class="col-lg-6 col-md-6">
													<div class="form-pos contect_form1">
														<div class="form-group i-name">

															<input type="text" class="form-control require" name="first_name" required="" placeholder="First Name*">

														</div>
													</div>
												</div>
												<div class="col-lg-6 col-md-6">
													<div class="form-pos contect_form1">
														<div class="form-group i-name">

															<input type="text" class="form-control require" name="last_name" required="" placeholder="last Name*">

														</div>
													</div>
												</div>
												<!-- /.col-md-12 -->
												<div class="col-lg-6 col-md-6">
													<div class="form-e">
														<div class="form-group i-email contect_form1">
															<input type="email" class="form-control require" name="email" required="" placeholder=" Email *" data-valid="email" data-error="Email should be valid.">

														</div>
													</div>
												</div>
												<!-- /.col-md-12 -->
												<div class="col-lg-6 col-md-6">
													<div class="form-s">
														<div class="form-group i-subject contect_form1">

															<input type="text" class="form-control require" name="Subject" required="" placeholder="subject">

														</div>
													</div>
												</div>
												<!-- /.col-md-12 -->
												<div class="col-md-12">
													<div class="form-m">
														<div class="form-group i-message contect_form1">

															<textarea class="form-control require" name="message" required="" rows="5" id="messageTen" placeholder=" Message"></textarea>

														</div>
													</div>
												</div>
												<!-- /.col-md-12 -->
												<div class="col-md-12">
													<div class="tb_es_btn_div">
														<div class="response"></div>
														<div class="tb_es_btn_wrapper conatct_btn2 cont_bnt">
															<button type="button" class="submitForm">send message !</button>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
					<div class="x_blog_right_side_wrapper float_left">
						<div class="row">
							<div class="col-md-12">
								<div class="jp_rightside_job_categories_wrapper jp_blog_right_box_search">
									<div class="jp_rightside_job_categories_heading">
										<h4>Search</h4>
									</div>
									<div class="jp_blog_right_search_wrapper">
										<input type="text" placeholder="Search">
										<button type="submit"><i class="fa fa-search"></i>
										</button>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="jp_rightside_job_categories_wrapper jp_rightside_job_categories_wrapper2">
									<div class="jp_rightside_job_categories_heading">
										<h4>Categories</h4>
									</div>
									<div class="jp_rightside_job_categories_content">
										<ul>
											<li><i class="fa fa-long-arrow-right"></i> &nbsp;&nbsp;<a href="#">Car Rental (22) </a>
											</li>
											<li><i class="fa fa-long-arrow-right"></i>  <a href="#"> &nbsp;&nbsp;New Cars Model (35)</a>
											</li>
											<li><i class="fa fa-long-arrow-right"></i>  <a href="#"> &nbsp;&nbsp;Hotels (145) </a>
											</li>
											<li><i class="fa fa-long-arrow-right"></i>  <a href="#"> &nbsp;&nbsp;Trips (21)</a>
											</li>
											<li><i class="fa fa-long-arrow-right"></i>  <a href="#"> &nbsp;&nbsp;Others (541)</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="jp_rightside_job_categories_wrapper jp_rightside_job_categories_wrapper2">
									<div class="jp_rightside_job_categories_heading">
										<h4>Latest Post</h4>
									</div>
									<div class="jp_rightside_career_main_content">
										<div class="jp_rightside_career_content_wrapper">
											<div class="jp_rightside_career_img">
												<img src="images/bls1.jpg" alt="career_img" />
											</div>
											<div class="jp_rightside_career_img_cont">
												<h4><a href="#">Image Blog
Post Formate</a></h4>
												<p><i class="fa fa-calendar-o"></i> &nbsp;20 OCT, 2017</p>
											</div>
										</div>
										<div class="jp_rightside_career_content_wrapper">
											<div class="jp_rightside_career_img">
												<img src="images/bls2.jpg" alt="career_img" />
											</div>
											<div class="jp_rightside_career_img_cont">
												<h4><a href="#">Image Blog
Post Formate</a></h4>
												<p><i class="fa fa-calendar-o"></i> &nbsp;20 OCT, 2017</p>
											</div>
										</div>
										<div class="jp_rightside_career_content_wrapper">
											<div class="jp_rightside_career_img">
												<img src="images/bls3.jpg" alt="career_img" />
											</div>
											<div class="jp_rightside_career_img_cont">
												<h4><a href="#">Image Blog
Post Formate</a></h4>
												<p><i class="fa fa-calendar-o"></i> &nbsp;20 OCT, 2017</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="jp_rightside_job_categories_wrapper jp_rightside_job_categories_wrapper2">
									<div class="jp_rightside_job_categories_heading">
										<h4>Archives</h4>
									</div>
									<div class="jp_rightside_job_categories_content">
										<ul>
											<li><i class="fa fa-long-arrow-right"></i> &nbsp;&nbsp;<a href="#">January 2018 </a>
											</li>
											<li><i class="fa fa-long-arrow-right"></i>  <a href="#"> &nbsp;&nbsp;February 2018</a>
											</li>
											<li><i class="fa fa-long-arrow-right"></i>  <a href="#"> &nbsp;&nbsp;March 2018 </a>
											</li>
											<li><i class="fa fa-long-arrow-right"></i>  <a href="#"> &nbsp;&nbsp;April 2018</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="jp_rightside_job_categories_wrapper jp_rightside_job_categories_wrapper2">
									<div class="jp_rightside_job_categories_heading">
										<h4>Tag Cloud</h4>
									</div>
									<div class="blog_category_side_menu">
										<ul>
											<li><a href="#">Car</a>
											</li>
											<li><a href="#">Rental</a>
											</li>
											<li><a href="#">Drive</a>
											</li>
											<li><a href="#">Insurance</a>
											</li>
											<li><a href="#">Offer</a>
											</li>
											<li><a href="#">Car</a>
											</li>
											<li><a href="#">Rental</a>
											</li>
											<li><a href="#">Drive</a>
											</li>
											<li><a href="#">Money</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- x blog main and sidebar Wrapper End -->
	<div class="ck_call_main_wrapper float_left">
		<div class="container">
			<div class="ck_cll_left_wrapper">
				<div class="ck_cll_icon align-self-center">	<i class="flaticon-phone-contact"></i>
					<h4>Call Us</h4>
					<p>+91 907 474 4316</p>
				</div>
				<div class="ck_cll_img">
					<img src="images/cll_img.png" alt="img">
				</div>
			</div>
			<div class="ck_cll_right_wrapper">
				<div class="cl_cll_form">
					<input type="text" placeholder="Your Email">
					<button>Subscribe</button>
				</div>
			</div>
		</div>
	</div>
	<!-- cll wrapper End-->
	<!-- partner wrapper Start-->
	<div class="ck_partner_inner_main_wrapper float_left">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="ck_inner_heading_wrapper float_left">
						<h4>Our Partners</h4>
						<h3>Partners Words</h3>
					</div>
				</div>
				<div class="col-md-12">
					<div class="lr_prt_slider_wrapper">
						<div class="owl-carousel owl-theme">
							<div class="item">
								<div class="lr_prt_img_wrapper">
									<img src="images/p1.jpg" alt="partner_img">
								</div>
							</div>
							<div class="item">
								<div class="lr_prt_img_wrapper">
									<img src="images/p2.jpg" alt="partner_img">
								</div>
							</div>
							<div class="item">
								<div class="lr_prt_img_wrapper">
									<img src="images/p3.jpg" alt="partner_img">
								</div>
							</div>
							<div class="item">
								<div class="lr_prt_img_wrapper">
									<img src="images/p4.jpg" alt="partner_img">
								</div>
							</div>
							<div class="item">
								<div class="lr_prt_img_wrapper">
									<img src="images/p5.jpg" alt="partner_img">
								</div>
							</div>
							<div class="item">
								<div class="lr_prt_img_wrapper">
									<img src="images/p6.jpg" alt="partner_img">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{> footer}}