{{> header}}
	<!-- ck title wrapper -->
	<div class="ck_title_main_wrapper float_left">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
					<div class="ck_title_cont float_left">
						<p>Blog</p>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
					<div class="ck_title_cont float_left">
						<ul>
							<li><a href="#">Home &nbsp; ></a>
							</li>
							<li>Blog</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ck title wrapper End -->
	<!-- x blog main and sidebar Wrapper Start -->
	<div class="x_blog_sidebar_main_wrapper float_left padding_tb_100">
		<div class="container">
			<div class="row">
				<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
					<div class="x_blog_left_side_wrapper float_left">
						<div class="row">						
							{{#each posts}}
							<div class="col-md-12">
								<div class="lr_bc_first_box_main_wrapper lr_bc_first_box_main_wrapper2">
									<div class="lr_bc_first_box_img_wrapper">
										<img src="uploads/{{picture}}" alt="blog_img">
									</div>
									<div class="lr_bc_first_box_img_cont_wrapper">
										<h2>{{title}}</h2>
										<ul>
											<li><i class="far fa-calendar-alt"></i>&nbsp; <a href="#">September 19, 2017</a>
											</li>
											<li><i class="fas fa-user-alt"></i>&nbsp; <a href="#">by Admin</a>
											</li>
											<li><i class="far fa-comments"></i>&nbsp; <a href="#">04 comments</a>
											</li>
										</ul>
										<p>{{brief content}}</p> <span><a href="#">Read More &nbsp;<i class="fa fa-angle-double-right"></i></a></span>
									</div>
								</div>
							</div>
							{{/each}}							
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
					<div class="x_blog_right_side_wrapper float_left">
						<div class="row">
							<div class="col-md-12">
								<div class="jp_rightside_job_categories_wrapper jp_blog_right_box_search">
									<div class="jp_rightside_job_categories_heading">
										<h4>Search</h4>
									</div>
									<div class="jp_blog_right_search_wrapper">
										<input type="text" placeholder="Search">
										<button type="submit"><i class="fa fa-search"></i>
										</button>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="jp_rightside_job_categories_wrapper jp_rightside_job_categories_wrapper2">
									<div class="jp_rightside_job_categories_heading">
										<h4>Categories</h4>
									</div>
									<div class="jp_rightside_job_categories_content">
										<ul>
											<li><i class="fa fa-long-arrow-right"></i> &nbsp;&nbsp;<a href="#">Car Rental (22) </a>
											</li>
											<li><i class="fa fa-long-arrow-right"></i>  <a href="#"> &nbsp;&nbsp;New Cars Model (35)</a>
											</li>
											<li><i class="fa fa-long-arrow-right"></i>  <a href="#"> &nbsp;&nbsp;Hotels (145) </a>
											</li>
											<li><i class="fa fa-long-arrow-right"></i>  <a href="#"> &nbsp;&nbsp;Trips (21)</a>
											</li>
											<li><i class="fa fa-long-arrow-right"></i>  <a href="#"> &nbsp;&nbsp;Others (541)</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="jp_rightside_job_categories_wrapper jp_rightside_job_categories_wrapper2">
									<div class="jp_rightside_job_categories_heading">
										<h4>Latest Post</h4>
									</div>
									<div class="jp_rightside_career_main_content">
										<div class="jp_rightside_career_content_wrapper">
											<div class="jp_rightside_career_img">
												<img src="images/bls1.jpg" alt="career_img" />
											</div>
											<div class="jp_rightside_career_img_cont">
												<h4><a href="#">Image Blog
Post Formate</a></h4>
												<p><i class="fa fa-calendar-o"></i> &nbsp;20 OCT, 2017</p>
											</div>
										</div>
										<div class="jp_rightside_career_content_wrapper">
											<div class="jp_rightside_career_img">
												<img src="images/bls2.jpg" alt="career_img" />
											</div>
											<div class="jp_rightside_career_img_cont">
												<h4><a href="#">Image Blog
Post Formate</a></h4>
												<p><i class="fa fa-calendar-o"></i> &nbsp;20 OCT, 2017</p>
											</div>
										</div>
										<div class="jp_rightside_career_content_wrapper">
											<div class="jp_rightside_career_img">
												<img src="images/bls3.jpg" alt="career_img" />
											</div>
											<div class="jp_rightside_career_img_cont">
												<h4><a href="#">Image Blog
Post Formate</a></h4>
												<p><i class="fa fa-calendar-o"></i> &nbsp;20 OCT, 2017</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="jp_rightside_job_categories_wrapper jp_rightside_job_categories_wrapper2">
									<div class="jp_rightside_job_categories_heading">
										<h4>Archives</h4>
									</div>
									<div class="jp_rightside_job_categories_content">
										<ul>
											<li><i class="fa fa-long-arrow-right"></i> &nbsp;&nbsp;<a href="#">January 2018 </a>
											</li>
											<li><i class="fa fa-long-arrow-right"></i>  <a href="#"> &nbsp;&nbsp;February 2018</a>
											</li>
											<li><i class="fa fa-long-arrow-right"></i>  <a href="#"> &nbsp;&nbsp;March 2018 </a>
											</li>
											<li><i class="fa fa-long-arrow-right"></i>  <a href="#"> &nbsp;&nbsp;April 2018</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="jp_rightside_job_categories_wrapper jp_rightside_job_categories_wrapper2">
									<div class="jp_rightside_job_categories_heading">
										<h4>Tag Cloud</h4>
									</div>
									<div class="blog_category_side_menu">
										<ul>
											<li><a href="#">Car</a>
											</li>
											<li><a href="#">Rental</a>
											</li>
											<li><a href="#">Drive</a>
											</li>
											<li><a href="#">Insurance</a>
											</li>
											<li><a href="#">Offer</a>
											</li>
											<li><a href="#">Car</a>
											</li>
											<li><a href="#">Rental</a>
											</li>
											<li><a href="#">Drive</a>
											</li>
											<li><a href="#">Money</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- x blog main and sidebar Wrapper End -->
	<div class="ck_call_main_wrapper float_left">
		<div class="container">
			<div class="ck_cll_left_wrapper">
				<div class="ck_cll_icon align-self-center">	<i class="flaticon-phone-contact"></i>
					<h4>Call Us</h4>
					<p>+91 907 474 4316</p>
				</div>
				<div class="ck_cll_img">
					<img src="images/cll_img.png" alt="img">
				</div>
			</div>
			<div class="ck_cll_right_wrapper">
				<div class="cl_cll_form">
					<input type="text" placeholder="Your Email">
					<button>Subscribe</button>
				</div>
			</div>
		</div>
	</div>
	<!-- cll wrapper End-->
	<!-- partner wrapper Start-->
	<div class="ck_partner_inner_main_wrapper float_left">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="ck_inner_heading_wrapper float_left">
						<h4>Our Partners</h4>
						<h3>Partners Words</h3>
					</div>
				</div>
				<div class="col-md-12">
					<div class="lr_prt_slider_wrapper">
						<div class="owl-carousel owl-theme">
							<div class="item">
								<div class="lr_prt_img_wrapper">
									<img src="images/p1.jpg" alt="partner_img">
								</div>
							</div>
							<div class="item">
								<div class="lr_prt_img_wrapper">
									<img src="images/p2.jpg" alt="partner_img">
								</div>
							</div>
							<div class="item">
								<div class="lr_prt_img_wrapper">
									<img src="images/p3.jpg" alt="partner_img">
								</div>
							</div>
							<div class="item">
								<div class="lr_prt_img_wrapper">
									<img src="images/p4.jpg" alt="partner_img">
								</div>
							</div>
							<div class="item">
								<div class="lr_prt_img_wrapper">
									<img src="images/p5.jpg" alt="partner_img">
								</div>
							</div>
							<div class="item">
								<div class="lr_prt_img_wrapper">
									<img src="images/p6.jpg" alt="partner_img">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- partner wrapper End-->
	{{> footer}}