{{> header}}
<div id="fullpage" class="fullpage-default">
    <div class="ck_contact_main_wrapper section animated-row float_left" data-section="section10">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 align-self-center">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ck_offer_img_cont_wrapper ck_contaact_img_cont_wrapper float_left animate"
                                    data-animate="fadeInUp">
                                    <div class="ck_heading_wrapper ck_heading_center_wrapper float_left">
                                        <h4>if any query</h4>
                                        <h3>Contact Details</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 animate" data-animate="fadeInUp">
                                <div class="contact_details_wrapper">
                                    <div class="ck_contac_img_wrapper">
                                        <img src="images/e1.png" alt="img">
                                    </div>
                                    <div class="contact_details_content">
                                        <div class="contact_heading"> <span>Head</span>
                                        </div>
                                        <div class="contact_details"> <span>12 Sky Perfect Avenue
                                        </span>
                                        </div>
                                        <div class="contact_heading"> <span>Office:</span>
                                        </div>
                                        <div class="contact_details"> <span> Spibat Owerri Imo State,Nigeria</span>
                                        </div>
                                    </div>
                                    <!-- contact_details_content end-->
                                    <!-- contact_details_content start-->
                                    <div class="contact_details_content">
                                        <div class="contact_heading"> <span>Email:</span>
                                            <br><span>Phone:</span>
                                        </div>
                                        <div class="contact_details"> <span><a href="#">hello@heyogo.com</a></span>
                                        </div>
                                        <div class="contact_heading"> <span></span>
                                        </div>
                                        <div class="contact_details"> <span class="pd_left"><a href="#">070 324 622 20</a></span>
                                        </div>
                                    </div>
                                    <!-- contact_details_content end-->
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 animate" data-animate="fadeInUp">
                                <div class="ck_contac_map_wrapper">
                                    <div id='map'></div>
                                    <div class="ck_contact_map_cont_wrapper">
                                        <h4>Address</h4>
                                        <p class="first_pera_ck_contact">12 Sky Perfect Avenue
                                            <br>Spibat Owerri Imo State,Nigeria</p>
                                        <p class="second_pera_ck_contact">070 324 622 20</p>
                                        <p class="second_pera_ck_contact">E. : <a href="#">hello@heyogo.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
{{> footer}}